body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding: 0 1rem;
  text-align: center;
}

h1 {
  margin-top: 4rem;
}
.img {
  max-width: 800px;
}
